<h1>Hello here's the list of your favorite drinks</h1>

<% @cocktails.each do |cocktail| %>
<p><%= link_to cocktail.name , cocktail_path(cocktail) %></p>
<% end %>

<p><%= link_to "New Cocktail", new_cocktail_path %></p>

